// Place all the styles related to the otumamies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.otumami-title{
	margin-bottom: 20px;
}
.otumami-title-all{
	margin-top: -20px;
	margin-bottom: 20px;
}
.otumami{
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 16px;
}
.otumami-image {
 margin-bottom: 16px;
 overflow: hidden;
 height: 200px;
}
.otumami-image img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.otumami-image img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.genre{
  border-style:solid;
  background-color: #ff9933;
}